html {
  background: #a3d3ee;
  font-family: 'Raleway', sans-serif;
}

.hireter {
  border: 1px solid black;
  width: 500px;
  margin: 50px auto;
  text-align: center;
  background-color:#3ba1d7;
  padding: 30px;
  font-family: 'Orbitron', sans-serif;
  margin-top: -100px;
}

.button-style {
 font-size: 20px;
 width: 300px;
 padding: 20px;
 margin: 40px auto;
 display: block;
}

h2, p  {
  text-align: center;
}

img {
  margin-top: 50px;
  margin-left: 50px;
}

form {
  margin: 0 auto;
  text-align: center;
}

label {
  display: block;
  padding: 10px;
  font-size: 20px;
}

input {
  height: 30px;
  width: 300px;
}